In [142]:
import pandas as pd

##Definindo um DataFrame

In [143]:
data = {
    'Nome':['Jeanderson','Rafael','Lucas Fernandes'],
    'Telefone':['5534984099680','5534991513072','5534996499159'],
    'Mensagem':['Olá', 'Fala baitola','Olá, meu mano. Liguei errado']
}
contatos_df = pd.DataFrame(data)
contatos_df

              Nome       Telefone                      Mensagem
0       Jeanderson  5534984099680                           Olá
1           Rafael  5534991513072                  Fala baitola
2  Lucas Fernandes  5534996499159  Olá, meu mano. Liguei errado

In [144]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time
import urllib

navegador = webdriver.Chrome()
navegador.get('https://web.whatsapp.com/')

while len(navegador.find_elements(By.ID, "app")) < 1:
    time.sleep(1)
time.sleep(15)

for i, mensagem in enumerate(contatos_df['Mensagem']):
    pessoa = contatos_df.loc[i, "Nome"]
    numero = contatos_df.loc[i, "Telefone"]
    mensagem = contatos_df.loc[i, "Mensagem"]
    #texto = urllib.parse.quote(f"Oi {pessoa}! {mensagem}")
    link = f"https://web.whatsapp.com/send?phone={numero}&text={mensagem}"
    navegador.get(link)
    while len(navegador.find_elements(By.ID, 'side')) < 1:
        time.sleep(10)
    time.sleep(2)
    navegador.find_element(By.XPATH, '//*[@id="main"]/footer/div[1]/div/span[2]/div/div[2]/div[2]/button/span').click()
    time.sleep(4)